Embedded-World/004_Ld_Scripts/.settings
Embedded-World/004_Ld_Scripts/Debug
Embedded-World/004_Ld_Scripts/004_Ld_Scripts Debug.launch
Embedded-World/005_Vector_table/.settings
Embedded-World/005_Vector_table/Debug
Embedded-World/005_Vector_table/005_Vector_table Debug.launch
Embedded-World/006_ADC_Lab_001/.settings
Embedded-World/006_ADC_Lab_001/Debug
Embedded-World/006_ADC_Lab_001/006_ADC_Lab_001 Debug.launch
Embedded-World/007_FMAC_CORDIC/.settings
Embedded-World/007_FMAC_CORDIC/Debug
Embedded-World/008_cpu_math/.settings
Embedded-World/008_cpu_math/Debug
Embedded-World/008_cpu_math/008_cpu_math.launch
Embedded-World/009_ReferansVsValue/.settings
Embedded-World/009_ReferansVsValue/Debug
Embedded-World/009_ReferansVsValue/009_ReferansVsValue Debug.launch
Embedded-World/007_FMAC_CORDIC/007_FMAC_CORDIC Debug.launch
